<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianfeng.fxmall.goods.mapper.GoodsMapper">
        <resultMap type="com.qianfeng.fxmall.goods.bean.WxbGood" id="baseResultMap">
        <id column="good_id" property="goodId"/>
        <result column="good_name" property="goodName"/>
        <result column="customer_id" property="customerId"/>
        <result column="good_pic" property="goodPic"/>
        <result column="good_pic1" property="goodPic1"/>
        <result column="good_pic2" property="goodPic2"/>
        <result column="promote_desc" property="promoteDesc"/>
        <result column="sku_title" property="skuTitle"/>
        <result column="sku_cost" property="skuCost"/>
        <result column="sku_price" property="skuPrice"/>
        <result column="sku_pmoney" property="skuPmoney"/>
        <result column="copy_ids" property="copyIds"/>
        <result column="copy_desc" property="copyDesc"/>
        <result column="forward_link" property="forwardLink"/>
        <result column="order_no" property="orderNo"/>
        <result column="type_id" property="typeId"/>
        <result column="tags" property="tags"/>
        <result column="state" property="state"/>
        <result column="create_time" property="createTime"/>
        <result column="toped" property="toped"/>
        <result column="recomed" property="recomed"/>
        <result column="toped_time" property="topedTime"/>
        <result column="recomed_time" property="recomedTime"/>
        <result column="spc_id" property="spcId"/>
        <result column="zon_id" property="zonId"/>
        <result column="sell_num" property="sellNum"/>
        <result column="website" property="website"/>
        <result column="iswxpay" property="iswxpay"/>
        <result column="isfdfk" property="isfdfk"/>
        <result column="leixing_id" property="leixingId"/>
        <result column="kfqq" property="kfqq"/>
        <!--<collection property="goodSkuList" ofType="com.qianfeng.fxmall.goods.bean.WxbGoodSku">-->
            <!--<id property="skuId" column="sku_id" javaType="java.lang.String"/>-->
            <!--<result property="skuName" column="sku_name" javaType="java.lang.String"/>-->
            <!--<result property="skuCost" column="sku_cost" javaType="java.lang.String"/>-->
            <!--<result property="skuPrice" column="sku_price" javaType="java.lang.String"/>-->
            <!--<result property="skuPmoney" column="sku_pmoney" javaType="java.lang.String"/>-->
            <!--<result property="goodId" column="good_id" javaType="java.lang.String"/>-->
            <!--<result property="orderNo" column="order_no" javaType="java.lang.Long"/>-->
            <!--<result property="serviceMoney" column="service_money" javaType="java.lang.String"/>-->
        <!--</collection>-->
    </resultMap>
        <!--sql标签用来定义SQL语句，或者是部分SQL语句-->
        <sql id="params">good_id,good_name,customer_id,good_pic,good_pic1,good_pic2,promote_desc,sku_title,sku_cost,sku_price,
          sku_pmoney,copy_ids,copy_desc,forward_link,order_no,type_id,tags,state,create_time,toped,recomed,toped_time,
          recomed_time,spc_id,zon_id,sell_num,website,iswxpay,isfdfk,leixing_id,kfqq </sql>
        <select id="queryGoodsByPage" resultMap="baseResultMap">
        select
        <include refid="params"/>
        from wxb_good limit #{index},#{size}
    </select>
    <insert id="insertGoods" parameterType="com.qianfeng.fxmall.goods.bean.WxbGood">
        insert into wxb_good (good_id, good_name, customer_id, good_pic, good_pic1, good_pic2, promote_desc, sku_title, sku_cost, sku_price, sku_pmoney, copy_ids, copy_desc, forward_link,
        order_no, type_id, tags, state, create_time, toped, recomed, toped_time, recomed_time, spc_id, zon_id, sell_num, website, iswxpay, isfdfk,
        leixing_id, kfqq) values (#{goodId}, #{goodName}, #{customerId}, #{goodPic}, #{goodPic1}, #{goodPic2}, #{promoteDesc}, #{skuTitle}, #{skuCost}, #{skuPrice}, #{skuPmoney}, #{copyIds}, #{copyDesc}, #{forwardLink},
        #{orderNo}, #{typeId}, #{tags}, #{state}, #{createTime}, #{toped}, #{recomed}, #{topedTime}, #{recomedTime}, #{spcId}, #{zonId}, #{sellNum}, #{website}, #{iswxpay}, #{isfdfk},
        #{leixingId}, #{kfqq})
    </insert>
</mapper>